<nz-header style="position:fixed; width:100%">
  <div class="logo"></div>
  <ul class="nav-ul" nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <li nz-menu-item>
      <i nz-icon nzType="book" nzTheme="fill"></i>
        题目
      </li>
    <li nz-menu-item>
        <i nz-icon nzType="trophy" nzTheme="fill"></i>
        比赛
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="pie-chart" nzTheme="fill"></i>
      记录
    </li>
    <li class="nav-right" nz-menu-item>
      <button nz-button [nzType]="'default'" [nzGhost]="true" [nzSize]="'large'">登陆</button>
    </li>
  </ul>
</nz-header>