
<!-- 提交代码表单 -->
<div class="form-container">
  <form nz-form #answerForm="ngForm" (submit)="submitProblem()">
    <nz-form-item>
      <input type="hidden" nz-input name="problemId" [(ngModel)]="submitCode.problemId" value="{{submitCode.problemId}}"/>
    </nz-form-item>
    <nz-form-item class="form-group">
      <nz-form-label [nzSpan]="4" nzFor="language">语言</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select nzSize="large" class="form-language-selector" [(ngModel)]="submitCode.languageId" id="languageId" name="languageId" required>
          <nz-option *ngFor="let language of languages" nzValue="{{language.value}}" nzLabel="{{language.name}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item class="form-group">
      <nz-form-label [nzSpan]="4" nzFor="codeArea" [nzRequired]="true">代码</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <textarea nzSize="large" rows="10" nz-input class="form-code-area" [(ngModel)]="submitCode.source" id="codeArea" name="source" required #source="ngModel">

        </textarea>
        <nz-form-explain *ngIf="!(source.valid || source.pristine)" class="alert alert-danger">
          代码不能为空
        </nz-form-explain>
      </nz-form-control>
       
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzValue="large" nzType="primary" [nzLoading]="isLoading" [disabled]="!answerForm.form.valid">交付评测</button>
      </nz-form-control>
    </nz-form-item>
    <!-- <button type="submit" class="btn btn-success">Submit</button> -->
    <nz-form-item nz-row>
      <nz-form-control [nzSpan]="14" [nzOffset]="2">
        <div *ngIf="isAccept"  style="color:#5eb95e">
          <i nz-icon [nzType]="'smile'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
          你已经通过了这道题哦
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>