<div  class="problem-detail-container">
  <div *ngIf="problemDetail == null">
    <nz-skeleton [nzLoading]="true" [nzActive]="true">
        
    </nz-skeleton>
  </div> 

  <div *ngIf="problemDetail != null" nz-row nzGutter="24">
    <div class="problem-detail-left" nz-col nzSpan="18">
      <div class="problem-detail-content container">
        <!-- 题目信息 -->
        <div class="problem-detail-content-title">{{ problemDetail.problemId }} &nbsp;{{ problemDetail.title }}</div>
        <div class="problem-display-title">题目描述</div>
        <div class="problem-display-content" [innerHTML]="problemDescription"></div>
        <div class="problem-display-title">输入格式</div>
        <div class="problem-display-content" [innerHTML]="problemInputDescription"></div>
        <div class="problem-display-title">输出格式</div>
        <div class="problem-display-content" [innerHTML]="problemOutputDescription"></div>
  
        <!-- 输入样例 -->
        <div class="problem-display-sample-container">
          <div class="problem-display-sample-case-container" *ngFor="let sample of samples;let i=index">
            <div class="problem-display-sample-input">
              <div class="problem-display-title">输入样例{{ i + 1 }}</div>
              <pre>{{ sample.input }}</pre>
            </div>
            <div class="problem-display-sample-output">
              <div class="problem-display-title">输出样例{{ i + 1 }}</div>
              <pre>{{ sample.output }}</pre>
            </div>
          </div>
        </div>
  
        <!-- 代码提示 -->
        <div *ngIf="problemHint" >
          <div class="problem-display-title">提示</div>
          <div class="problem-display-content" [innerHTML]="problemHint"></div>
        </div>
  
        
      </div>

      <!-- 提交表单 -->
      <div class="problem-detail-submit-form container">
        <app-submit-form [problemId]="problemDetail.problemId" (update)="updateJudgeStatus($event)"></app-submit-form>
      </div>

      <div *ngIf="showJudgeStatus"  class="problem-detail-judge-status container">
        <app-problem-detail-status [judgeStatusId]="judgeStatusId"></app-problem-detail-status>
      </div>
    </div>
    
    <!-- 右边的内容 -->
    <div class="problem-detail-right" nz-col nzSpan="6">
      <div class="problem-detail-sider">
        <nz-list id="problem-detail-sider-list" [nzItemLayout]="'vertical'" [nzSize]="'large'">
          <nz-list-item class="problem-info-list-statistic">
              <nz-statistic nzValue="{{ problemDetail.accept }}" [nzTitle]="'通过 / 提交'" nzSuffix="/ {{ problemDetail.submit }}"></nz-statistic>
          </nz-list-item>
          <nz-list-item class="problem-info-list-container">
            <div class="problem-info-list-title">时间限制</div>
            <div class="problem-info-list-content">{{ problemDetail.timeLimit }} MS</div>
          </nz-list-item>
          <nz-list-item class="problem-info-list-container">
            <div class="problem-info-list-title">空间限制</div>
            <div class="problem-info-list-content">{{ problemDetail.memoryLimit }} MB</div>
          </nz-list-item>
          <nz-list-item class="problem-info-list-container">
            <div class="problem-info-list-title">来源</div>
            <div class="problem-info-list-content">{{ problemDetail.problemType.problemTypeName }}</div>
          </nz-list-item>
          <nz-list-item class="problem-info-list-container">
            <div class="problem-info-list-title">标签</div>
            <div class="problem-info-list-content">{{ problemDetail.timeLimit }} MS</div>
          </nz-list-item>
          <nz-list-item class="problem-info-list-container">
            <div class="problem-info-list-title">题目提供者</div>
            <div class="problem-info-list-content">
              <a href="/user/{{problemDetail.createBy.id}}">{{ problemDetail.createBy.userName }}</a>
            </div>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
    
  </div>

  
</div >
